.App {
  margin: 0;
  padding: 0;
}

.name__pokemon-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.app__title {
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.list {
  background-color: rgb(232, 245, 250);
  width: 150px;
  height: 200px;
  margin: 15px 15px;
  border: 1px solid rgb(97, 96, 96);
  border-radius: 10px; 
  text-transform: capitalize;
}

.main-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 60%;
}

.list__type {
  list-style: none;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  padding:5px;
  margin: 0 8px;
  background-color: grey;
  color:white;
  border-radius: 30px;
  font-size: 10px;
  height: 10px;
  width: 35px;
}

.main-list__type {
  padding: 0;
  display: flex;
  text-transform: uppercase;
  top: 200px;
}

.list__name {
  display: flex; 
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(97, 96, 96);
  border-bottom: 1px solid rgb(97, 96, 96);
  height: 50px;
  margin: 10px 0 10px;
  
}

.list__img {
  padding: 0;
  margin: 0 10px 0 30px;
  display: flex;
}